*{
  margin: 0;
  font-size: 10pt;
}

body {
  background-color: rgb(210, 245, 238);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  font-size: 12pt;
}

.trybewarts-header-logo {
  height: 100px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  font-size: 50pt;
  color: rgb(233, 248, 245);
}

#senha {
  border: 0;
  padding: 10px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
}

#email {
  border: 0;
  padding: 10px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
}
/*button*/
#entrar {
  background-color: rgb(81, 59, 131);
  color: white;
  padding: 5 55px;
  font-weight: 500;
}

#submit-btn {
  background-color: rgb(81, 59, 131);
  color: white;
}
.family {
	display: block;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 15px;
  font-size: 12pt;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 20pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}

#input-name {
  border: 0;
  padding: 10px;
  border-radius: 100px;
  font-size: 15px;
  width:250px
}

#input-lastname {
  border: 0;
  padding: 10px;
  border-radius: 100px;
  font-size: 15px;
  width: 300;
}

#input-email {
  border: 0;
  width:200px;
 padding: 10px;
 border-radius: 100px;
}

#label-family {
  font-size: 14pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}

#house {
  font-size: 20pt;
  font-family: helvetica, Arial, sans-serif;
  padding: 10px;
  border-radius: 80px;
  font-size: 16px;
  width: 200px
}

#label-content {
  font-size: 14pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}

#label-rate {
  font-size: 10pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}

.textarea {
  font-size: 10pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}

#label-infos {
  font-size: 10pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: bold;
}
#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  font-size: 12pt;
  font-family: Helvetica, Arial, sans-serif;
}

#rate {
  display: flex;
}

input, select, textarea, button {
  border-radius: 10px;
}

footer {
  display: flex;
  font-size: 10pt;
  justify-content: center ;
}
